site_name: IsoVault
site_url: https://iso-st3ph.github.io/isovault-site/
theme:
  name: material
  logo: assets/isovault-logo.svg
  favicon: assets/isovault-logo.svg
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
extra_css:
  - styles/overrides.css
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/iso-st3ph
    - icon: fontawesome/solid/envelope
      link: mailto:stephon@ayoskip.info
plugins:
  - search
  - minify:
      minify_html: true
  - redirects: {}
nav:
  - Home: index.md
  - Getting Started: getting-started/index.md
  - Pricing: pricing.md
  - Security: security.md
